html, body, #root #application {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#map {
    height: 93.9%;
    width: 100%;
    position: absolute;
    background-color: #ffffffe0;
}

#map-info {
    position: absolute;
    bottom: 3px;
    left: 25rem;
    z-index: 1051;
}

#map-info label {
    display: inline-block;
    padding: 0.5rem;
    width: 180px;
    font-size: small;
    border: solid 0.5px grey;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: white;
}

#license {
    position: absolute;
    bottom: 3px;
    right: 251px;
    border-radius: 4px 0 0;
    background: rgba(255, 255, 255, 0.8);
    text-align: right;
    max-width: calc(100% - 1.3em);
    flex-flow: row-reverse;
    align-items: flex-end;
    margin: 0;
    padding: 1px .5em;
    color: #000;
    text-shadow: 0 0 2px #fff;
    display: inline;
    list-style: none;
    height: 29px;
}

.toast-message {
    position: absolute;
    bottom: 55px;
    right: 0px;
    width: 20%;
    z-index: 1051;
}

.toast-message button {
    position: fixed;
    right: 35px;
}

.landing {
    height: 93%;
    width: 100%;
    position: absolute;
}

.landing-footer {
    height: 7%;
}

.landing-header {
    height: 77%;
}

ul {
    list-style-type: none;
}

li {
    font-size: small;
    text-align: center;
    border: ridge white 0.5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container input[type='checkbox'] {
    float: left;
}

.container button {
    float: right;
}

.ol-scale-line {
    left: 180px!important;
}

.custom {
    height: 80%;
    position: absolute!important;
    float: right;
    top: 58px!important;
    transform: none!important;
}