html, body, #root #application {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#map {
    height: 94%;
    width: 100%;
    position: absolute;
    border: black double;
    background-color: #ffffffe0;
}

#map-info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#map-info label {
    display: inline-block;
    padding: 0.5rem;
    width: 180px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    border: #43a3b8 1px solid;
    text-align: center;
    background: white;
}

.bookmarks {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background: #43a3b8;
    width: 30%;
    height: 35%;
}

.bookmarks label {
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}

.bookmarks button {
    margin: 0.5rem;
    padding: 0.5rem;
}

.bookmarks h2 {
    text-align: center;
}

.form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-menu {
    left: -70px;
}

.landing {
    height: 94%;
    width: 100%;
    position: absolute;
}

.landing-footer {
    height: 7%;
}

.landing-header {
    height: 77%;
}

.toc {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background: #43a3b8;
    width: 30%;
    height: 35%;
}

.toc label {
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}

.toc button {
    margin: 0.5rem;
    padding: 0.5rem;
}

.toc h2 {
    text-align: center;
}

.toc ul {
    list-style-type: none;
}